.go-back-btn{
  padding: 5px 10px;
  border: 0;
  background: #e5e5ea;
  border-radius: 5px;
  margin: 30px 0 5px 0 ;
}
.user{
  padding: 10px;
  color: white;
  background-color: #2b303b;
}
ul{
  margin: 0;
  padding: 0;
  width: 100%;
}
li{
  text-align: center;
  border-bottom: 2px solid #282c34 ;
  cursor: pointer;
}
